*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --primerColor: #614ad9;
    --segundoColor:#2d2555;
    --textoColor: black;
    --fondo: whitesmoke;
    --conteinerColor: white;
    --sombraColor: #282828;
}

body{
    background-color: var(--fondo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--textoColor);
    max-width: 1200px;
    margin: 0 auto;
}
header{
    position: sticky;
    top: 0;
    z-index: 2;
}
/* ------- NAVBAR ---------------*/

.navbar{
    display: flex;
    background-color: var(--segundoColor);
    justify-content: space-around;
    width: 1200px;
    padding: 20px 0 30px 0;
    opacity: 0.9;
    margin-bottom: 50px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 0 0 2rem 2rem;
    -webkit-border-radius: 0 0 2rem 2rem;
    -moz-border-radius: 0 0 2rem 2rem;
    -ms-border-radius: 0 0 2rem 2rem;
    -o-border-radius: 0 0 2rem 2rem;
    box-shadow: 0 0 10px 0px var(--sombraColor);
}

.navbar:hover{
    opacity: 1;
}

.logo{
    display: flex;
    width: 50px;
    padding: 5px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.navbar img:hover{
    rotate:360deg;
}

.navbar a{
    text-decoration: none;
    color: var(--fondo);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.botonHome, .botonCategorias, .botonNovedades, .botonNosotros, .botonContactos {
    padding-bottom: 1px;
}

.botonHome:hover, .botonNovedades:hover, .botonCategorias:hover , .botonNosotros:hover, .botonContactos:hover {
    border-bottom: 1px solid var(--primerColor);
}

.botonLogin, .navbar-list{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.botonIngresar, .mensaje-container a{
    padding: 5px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.botonIngresar:hover{
    border: 1px solid var(--primerColor);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.botonRegistrar{
    background-color: rgb(209, 209, 209);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 5px;
    margin-left: 2px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.botonRegistrar a{
    color: var(--sombraColor);
}

.botonRegistrar:hover{
    background-color: var(--primerColor);
}
.botonRegistrar a:hover{
    color: var(--conteinerColor);
}
/* ---------- CARRITO --------------- */

.cartConteinerIcon{
    
}

.cartIcon{
    width: 40px;
    height: 40px;
    color: var(--fondo);
}

/* ------------------Portada ----------------------- */

.hero{
    display: flex;
    position: relative;
    max-width: 650px;
    max-height: 300px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 0.2rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    box-shadow: 0 0 10px 0px var(--textoColor);
}

.portada{
    display: flex;
    width: 100%;
    padding: 5px 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.portadaImg{
    display: flex;
    justify-content: center;
    max-width: 700px;
    width: 100%;
    height: auto;
}

.control{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control button{
    border: none;
    padding: 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.prev,
.next{
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease ;
    -moz-transition: all 0.2s ease ;
    -ms-transition: all 0.2s ease ;
    -o-transition: all 0.2s ease ;
}

.prev:hover,
.next:hover {
    background-color: rgb(0, 0, 0, 0.4);
}

.prev {
    border-radius: 0 15px 15px 0;
    -webkit-border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    -ms-border-radius: 0 15px 15px 0;
    -o-border-radius: 0 15px 15px 0;
}

.next {
    border-radius: 15px 0 0 15px;
    -webkit-border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    -ms-border-radius: 15px 0 0 15px;
    -o-border-radius: 15px 0 0 15px;
}

/* ---------------------about us--------------------------- */

.aboutUs{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* gap: 70px; */
    font-family: Arial, Helvetica, sans-serif;
}
.AboutUsTitulo{
    text-align: center;
    margin-top: 50px;
}

.titulo{
    display: inline-block;
    font-family: 'Vina Sans', sans-serif;
    font-size: 100px;
    margin: 50px;
    text-align: center;
    border-bottom: 1px solid var(--sombraColor);
}

.descripcion{
    display: flex;
    background-color: var(--fondo);
    width: 100%;
    margin: 40px;
    text-align: center;
    gap: 80px;
}

.descripcionTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 2;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    font-size: 20px;
    /* background-color: crimson; */
}

.volumenLoco {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 400px;
    width: 600px;
    padding-bottom: 30px;
}

.barra {
    width: 25px;
    background-image: linear-gradient(to bottom, #2d2555, #392e74, #463895, #5341b6, #614ad9);
    margin: 0 10px;
}

/* -------------------------------Noticias------------------------------------------ */

.news{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.noticias{
    display: flex;
    gap: 20px;
    padding: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--primerColor);
    height: 350px;
    box-shadow: 0 0 10px 0px var(--textoColor);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.noticia{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 3px;
    color: var(--conteinerColor);
    /* background-color: crimson; */
}

.noticia img{
    width: 200px;
    margin: 15px;
    box-shadow: 0 0 10px 0px var(--textoColor);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.noticia img:hover{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}


/* ------------------------Categorias------------------------------ */

.productos{
    display: flex;
    flex-direction: column;
}

.categoriasConteiner{
    /* background-color: var(--conteinerColor); */
    display: flex;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 80px;
    padding: 20px;
    gap: 100px;
}

.categoria, .mensaje-container a{
    background-color: var(--segundoColor);
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    color: var(--fondo);
    box-shadow: 0 0 10px 0px var(--textoColor);
    padding: 20px;
    width: 200px;
    height: auto;
    margin: 0 auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.categoria:hover, .mensaje-container a:hover, .productoBoton:hover{
    background-color: var(--primerColor);
    color: var(--conteinerColor);
    box-shadow: none;
}

/* ---------------------Productos---------------------------- */

.productoConteiner{
}

.masVendidos{
    background-image: linear-gradient(to top, #ecd7ff, #ecdffe, #eee7fc, #f1eef9, #f5f5f5);
    display: flex;
    width: 100%;
    height: 350px;
    justify-content: space-around;
    box-shadow: 0 0 10px 0px var(--sombraColor);
    padding: 20px;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.producto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 200px;
    max-height: 600px;
    /* background-color: orange; */
}

.producto img{
    max-width: 150px;
}

.productoInfo{
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 110px;
    font-family: monospace;
}

.precio{
    font-size: 18px;
    font-weight: 900;
}

.productoBoton{
    border: none;
    background: none;
    background-color: var(--segundoColor);
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
/* --------------------Contactos------------------------- */


.contact{
    display: flex;
    max-width: 900px;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 400px;
    margin: 0 auto;
    margin-top: 150px;
}

.contact-container{
    display: flex;
    /* background-color: var(--conteinerColor); */
    gap:50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* box-shadow: -3px 2px 8px var(--sombraColor); */
    padding: 0 100px;
    /* margin: 0 auto;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px; */
}

.contact-container input{
    background-color: var(--fondo);
    border-bottom: 1px solid var(--segundoColor);
    border-right: none;
    border-top: none;
    border-left: none;
    padding: 5px 15px;
    font-size: 18px;
    font-weight: 500;
}

.mensaje-container, .container-login{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 5px;
    width: 300px;
}

.mensaje-container h3{
    background-color: var(--primerColor);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    color: var(--conteinerColor);
    font-size: 20px;
    font: 600;
    text-align: center;
    padding: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    text-align: center;
    
}

.redes{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.redes-list{
    display: flex;
    gap: 10px;
    align-items: center;
}

/* ----------------------footer---------------------- */

footer{
    display: flex;
    background-color: var(--segundoColor);
    max-width: 100%;
    width: 1200px;
    height: 100px;
    margin-top: 50px;
    align-items: center;
    box-shadow: -3px 2px 10px var(--sombraColor);
    border-radius: 2rem 2rem 0 0;
    -webkit-border-radius: 2rem 2rem 0 0;
    -moz-border-radius: 2rem 2rem 0 0;
    -ms-border-radius: 2rem 2rem 0 0;
    -o-border-radius: 2rem 2rem 0 0;
}

.footer{
    color: var(--fondo);
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    text-align: left;
}

.footer span{
    color: skyblue;
}